
.div-geral{
    text-align: center;
    position: relative;
    margin: auto;
    width: 80%;
    font-family: 'Gaegu', cursive;
    /*border: 1px solid black;*/
    background-color: #FFFFFF;
	/*position: relative;*/
    /*box-shadow: 0px 5px 5px 0px #dec1b7;*/
    /*margin-bottom: 10%;*/
}

/* Inicio do CSS do menu */
.primary-menu{
    background-color: #dec1b7;
    display: flex;
    align-content: center;
    justify-content: center;
    border:5px;
    padding: 15px;
  
}
.primary-menu-item a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: 'Gaegu', cursive;
}
.primary-menu-item a:hover{
    color:#f7f7f7
}

.menu{
    border: 2px;
    padding: 15px;
    margin: 8px;
}
/* Fim do CSS do menu */

.mean-div{
    /* flax */
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    font-family: 'Gaegu', cursive;
    /*border: 2px solid black;*/
}
/* CSS da pagina Contato */

.form-style{
    align-content: center;
    position: relative;
    /*width: 50%;**/
    margin:auto;
}
.form-div{
    border: 1px solid #9a9a9c ;
    background-color: #FFFFFF;
    box-shadow: 5px -5px 5px 0px #dec1b7;
    width: 70%;
    align-content: center;
    position: relative;;
    margin:auto;
}

.article-box{
    border: 1px solid #9a9a9c;/*  expesura da borda + cor*/
    width: 40%; /*porcentagem do box em relacao a tela*/
    height: auto;
    padding: 10px;
    margin-right:2%;
    margin-left:2%;
    font-family: 'Gaegu', cursive;
    border-radius: 5px 5px; /* arredondamento de borda*/
    /*Sombreado nas bordas*/
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 5px -5px 5px 0px #dec1b7;
    /*Fim do sembreado*/
  
}

.img-geral{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    background-color: #FFFFFF;
	position: relative;
    box-shadow: 5 0 8px 8px white inset;
    
}
.img-perfil{
    border-radius:70%;
    width: 40%;
}
.img-wuv{
    width:20% ;
    align-content: center;
}

/*.bordas {
    border-width: 2px;
    border-style: outset;
    border-color:#dec1b7;
    
} */
.article-box2{
   
    font-family: 'Gaegu', cursive;
    padding:2;
    box-shadow: none;
    border: none;
    /*border: 1px solid #9a9a9c ;*/
}
.article-box-bottom{
    border: 1px solid #9a9a9c ;
    align-self: center;
    align-content: center;
    width: 95%;
    padding: 5px;
    margin-right:5%;
    font-family: 'Gaegu', cursive;
    margin-right:2%;
    margin-left:2%;
    margin-top: 2%;
    margin-bottom: 2%;
    /*Sombreado nas bordas*/
    background-color: #FFFFFF;
	position: relative;
    box-shadow: 5px -5px 5px 0px #dec1b7;
    /*Fim do sembreado*/
}


.text-article{
    text-align: justify;
}
/*text-article-bottom{
    text-align: center;
}*/
.title{
    text-align: center;
}

h1{
    font-family: 'Gaegu', cursive;
    text-align: center; 
}

p{
    font-family: 'Gaegu', cursive;
}

.table-activity{
    border:1px solid #9a9a9c;
    width: 70%;
    margin-left:auto; 
    margin-right:auto;
}
th{
    background-color:#dec1b7;
}
td{
    background-color:#f2e4df;
}

#copyrightInfo{
    text-align: center;
    text-align: center;
}

.event-button{
    font-family: 'Gaegu', cursive;
    text-align: center; 
}

.section-blog{
    font-family: 'Gaegu', cursive;
    text-align: center; 
}
.div-blog{
    font-family: 'Gaegu', cursive;
    text-align: center; 
    border: 1px solid #9a9a9c ;
    background-color: #FFFFFF;
    box-shadow: 5px -5px 5px 0px #dec1b7;
    width: 70%;
    align-content: center;
    position: relative;;
    margin:auto;
}