


.img-top{
    position: relative;
    align-items: center;
    align-items: center;
    margin: auto;
   
}
body{
    background-color: #dec1b7;
}
.div-geral{
    text-align: center;
    position: flex;
    margin: auto;
    width: 80%;
    font-family: 'Gaegu', cursive;
    /*border: 1px solid black;*/
    background-color: #dec1b7;
	/*position: relative;*/
    /*box-shadow: 0px 5px 5px 0px #dec1b7;*/
    /*margin-bottom: 10%;*/
}
.div-geral-traveling{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    font-family: 'Gaegu', cursive;
}

/* Inicio do CSS do menu */
.primary-menu{
    background-color: #dec1b7;
    display: flex;
    align-content: center;
    justify-content: center;
    border:5px;
    padding: 15px;
    border-color: cornsilk;;
}
.primary-menu-item a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    color: black;
    border-color: cornsilk;
    font-family: 'Gaegu', cursive;
}
.primary-menu-item a:hover{
    color:#f7f7f7
}

.menu{
    border-color: cornsilk;
    padding: 15px;
    margin: 8px;
}*
/* Fim do CSS do menu */

.mean-div{
    /* flax */
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    font-family: 'Gaegu', cursive;
    /*border: 2px solid black;*/
}
/* CSS da pagina Contato */

.form-style{
    align-content: center;
    position: relative;
    /*width: 50%;**/
    margin:auto;
}
.form-div{
    border: 1px solid #9a9a9c ;
    background-color: #FFFFFF;
    box-shadow: 5px -5px 5px 0px #dec1b7;
    width: 70%;
    align-content: center;
    position: relative;;
    margin:auto;
}

.article-box{
    border: 1px solid #9a9a9c;/*  expesura da borda + cor*/
    width: 40%; /*porcentagem do box em relacao a tela*/
    height: auto;
    padding: 10px;
    margin-right:2%;
    margin-left:2%;
    font-family: 'Gaegu', cursive;
    border-radius: 5px 5px; /* arredondamento de borda*/
    /*Sombreado nas bordas*/
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 5px -5px 10px 1px #6d586ad8;
    /*Fim do sembreado*/
}
.article-box-traveling{
    width: 20%;
}

.img-geral{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    background-color: #FFFFFF;
	position: relative;
    /*box-shadow: 5 0 8px 8px white inset;*/
}

   .img-center{
    border: black;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
    

.img-perfil{
    border-radius:70%;
    width: 60%;
}
.img-wuv{
    width:20% ;
    align-content: center;
}

/*.bordas {
    border-width: 2px;
    border-style: outset;
    border-color:#dec1b7;
    
} */
.article-box-center{
   
    font-family: 'Gaegu', cursive;
    padding:2px;
    box-shadow: none;
    border: none;
    background-color:#dec1b7;
    width:50%
    /*border: 1px solid #9a9a9c ;*/
}
.article-box-bottom{
    border: 1px solid #9a9a9c ;
    align-self: center;
    align-content: center;
    width: 95%;
    padding: 10px;
    margin-right:5%;
    font-family: 'Gaegu', cursive;
    margin-right:2%;
    margin-left:2%;
    margin-top: 2%;
    margin-bottom: 2%;
    /*Sombreado nas bordas*/
    background-color: #FFFFFF;
	position: relative;
    box-shadow: 5px -5px 5px 0px #dec1b7;
    /*Fim do sembreado*/
}


.text-article{
    text-align: justify;
}
/*text-article-bottom{
    text-align: center;
}*/
.title{
    text-align: center;
}

h1, h2 {
    font-family: 'Gaegu', cursive;
    text-align: center; 
}

p{
    font-family: 'Gaegu', cursive;
}

.table-insta{
    border:1px solid #9a9a9c;
    width: 75%;
    margin-left:auto; 
    margin-right:auto; 
}
.table-travel{
    margin:0px;
}

th{
    background-color:#dec1b7;
}
td{
    background-color:#f2e4df;
}

#copyrightInfo{
    text-align: center;
    text-align: center;
}

.event-button{
    font-family: 'Gaegu', cursive;
    text-align: center; 
}

.section-blog{
    background-image: url(./img/fundo_instagram.png);
    background-color: #dec1b7;
    font-family: 'Gaegu', cursive;
    text-align: center; 
    align-content: center;
    padding:20px;
    position: relative;
    margin: auto;
    align-items: center;
    box-shadow: rgba(116, 105, 121, 0.479);
}
.section-traveling{
    font-family: 'Gaegu', cursive;
    text-align: center; 
    align-content: center;
    position: relative;
    margin: auto;
    align-items: center;
    box-shadow: rgba(96, 88, 99, 0.267);
    margin: 0px;
    }

.div-blog{
    font-family: 'Gaegu', cursive;
    text-align: center; 
    border: 0px 0px 1px 1px solid #9a9a9c ;
    background-color: #FFFFFF;
    box-shadow: 5px -5px 5px 0px #dec1b7;
    width: 70%;
    align-content: center;
    position: relative;;
    margin:auto;
    background-color:#dec1b7;
}

.travel-tb-img {
    width: 200px;
    height: auto;
    border: whitesmoke;
    opacity: 1;
    filter: alpha(opacity=100);
}


.travel-tb-img:hover {
       opacity: 0.3;
    filter: alpha(opacity=30);

}
.marquee-botton{
    text-align-last: center;
    
}
.list-article{
    margin-right: 15%;
    line-height: 20px;
}

.insta-img{
    width: 180px;
    height: 200PX;
    align-content: center;
    padding: 4% 4% 0% 4%;
    border: 2px cornsilk;
}

.insta-button{
    border: dotte 20px rgba(255, 127, 80, 0.281);
    color: dimgray;
    border-radius: 3%;
    width: 150px;
    

}
.title-insta{
    padding: 0%;
    margin:0%;
    border:0%;
    font-size: 40px;
    font-family: 'Parisienne', cursive;
}

/*TOOLTIP INICIO*/
.tooltip {  
    position: relative;  
    display: inline-block;  
    border-bottom: 1px dotted black;
}
    
.tooltip .tooltiptext {  
   visibility: hidden;  
    width: 120px;  
    background-color:#dec1b7;  
    color: #fff; 
    box-shadow: rgba(0, 0, 0, 0.295);
    text-align: center;  
    border-radius: 6px;  
    padding: 5px 0;  
    /* Position the tooltip */  
    position: absolute;  
    z-index: 1;
}    
             
.tooltip:hover .tooltiptext {  
    visibility: visible;
}
/*TOOLTIP INICIO*/
